<!DOCTYPE html>
<html>

<head>
    <title>Contact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav><br />
    <br />
    <br />
    <br />
    <div class="about">
        <div class="topic">About</div>
        <br />
        <p>
            Phishing Detection Using Machine Learning: This project aims to combat phishing attacks by utilizing machine
            learning techniques. Phishing attacks involve tricking users into divulging sensitive information through
            deceptive websites. We train machine learning models on a dataset containing both legitimate and phishing
            URLs. These models learn to identify patterns and indicators that distinguish between genuine and malicious
            URLs. In real-time, the trained models analyze various attributes of a given URL, such as domain reputation,
            SSL certificate details, and URL structure. Based on these attributes, the models generate predictions
            regarding the likelihood of a phishing attack. The system classifies URLs as legitimate, suspicious, or
            phishing, helping users identify and avoid potential threats. Consider checking out the source code of the <a
                href="https://github.com/SanjayNithin2002/phishing-detection-api">
                project
            </a>.</p>
    </div>
</body>

</html>